body {
  text-align: center;
  background-color: #2658a8;
  font-family: Arial;
}

.header {
color: White;
}

h1 {
  color: White;
}

p {
  color: White;
}

a:link {
  color: White;
}

a:hover {
  color: #3b8e40;
}

.box-1 {
  width: 50%;
  margin: auto;
}

playtestArt {
  float: left;
}
